body{
    background-color: aliceblue;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    height: 120px;
}

.titulo{
    text-align: center;
    font-size: xx-large;
    min-height: 0%;
    color: rgb(3, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-overflow: clip;
    text-transform: initial;
    padding: 10px;
    color: rgb(19, 7, 7);
    margin: 10px;
    border-radius: 1cm;
    background-color: rgba(151, 255, 250, 0.82);
    margin: 10px;
    border-radius: 1cm;
}

.menu a:hover{
    border: rgb(56, 55, 55);
    background-color: rgb(75, 90, 85);
}